* {
padding:0;
margin:0
}

body,html {
height:95%
}

body {
background-color:#FFFFFF;
margin:0 auto;
text-align:center;
width:95%;
font-family:'Roboto Condensed',sans-serif;
color:#ff0000;
font-weight:300;
line-height:28px;
font-size:19px;
font-weight:700
}

#wrapper {
padding:0 15px;
height:95%;
display:flex
}

.content {
align-self:center;
margin:0 auto
}

.content__btn {
font-size:20px;
border:3px solid #136100;
color:#1307ff;
text-decoration:none;
border-radius:100em;
padding:20px 40px;
letter-spacing:.05em;
position:relative;
transition:.3s
}

.content__btn::before {
content:'';
border:3px solid #FFC0CB;
width:100%;
height:100%;
position:absolute;
left:3px;
top:2px;
border-radius:100em;
background:#00ffff;
z-index:-1;
transition:.3s
}

.content__btn:hover::before {
left:0;
top:0;
width:calc(100% - 6px);
height:calc(100% - 6px)
}

 .round-button {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #4CAF51; /* Зелёный цвет кнопки */
  color: white; /* Цвет текста */
  text-align: center;
  line-height: 60px; /* Вертикальное выравнивание текста */
  border-radius: 50%; /* Делаем круглую форму */
  text-decoration: none; /* Убираем подчёркивание ссылки */
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease; /* Плавная смена цвета при наведении */
}

.round-button:hover {
  background-color: #45a050; /* Тёмнее при наведении */
}

.round-button:active {
  transform: scale(0.95); /* Немного уменьшается при нажатии */
}

